<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="test_automation" verbose="1" >
    <test name="Mortgage Calculator">
        <packages>
            <package name="automation_test.mortgage_calculator"/>
        </packages>
    </test>
<!--    <test name="PHP Travel">-->
<!--        <classes>-->
<!--            <class name="automation_test.php_travel.ValidatePHPTravelWebTitle"/>-->
<!--        </classes>-->
<!--    </test>-->
    <test name="api_test">
        <packages>
            <package name="api_test"/>
        </packages>
    </test>
</suite>
